.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  justify-content: center;
}
.button {
    --radius: 20px;
    display: block;
    width: 100%;
    border: 0;
    color: white;
    padding: 10px;
    position: relative;
    border-radius: var(--radius);
    background: #135ab8;
    font-weight: 900;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.button:hover {
    border: 0;
    color: white;
    padding: 10px;
    position: relative;
    border-radius: var(--radius);
    background: #135ab8;
    font-weight: 900;
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(to right, #ff416c, #ff2bfb);
    animation: gradient 1s infinite;
}
.h1 {
    padding: 0.5rem 0;
}
.description {
    padding: 1.5rem;
    font-size: 1.5rem;
}
@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
